my title is {{title}}
<br>

<input type="text" #show (keyup)="getVal(show.value)" />
{{data}}

<app-comp1></app-comp1>

<br />

<h2>Property Binding VS Interpolation</h2>

<input type="text" name="first" value={{name}} disabled={{chkdisable}}>
<br />
<small>So Property Binding Works Good While we have to check conditions as true or false.</small>
<br />
<input type="text" name="last" [value]=name [disabled]=chkdisable> 

<app-conditioning></app-conditioning>

<br />
<br />

<app-forloop></app-forloop>
<br />
<br />
<h1 [style.color]="dynamiccolor">Dynamic Styling</h1>